{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block heroimage %}
    static/empanada.jpg
{% endblock %}

{% block heroalt %}
    Image of Empanada
{% endblock %}

{% block herotext %}
    Empanadas De Carne
{% endblock %}

{% block body %}

<div id="categories">
    <h1 id="cattitle">Categories</h1>
    <div id="three-column">
        <a href="/drinks"><div class="homepage-category">
            <img src="../static/jarritos_drinks.webp" alt="Image of drinks">
            <h1>Drinks/Bebidas</h1>
        </div></a>
        <a href="/meals"><div class="homepage-category">
            <img src="static/meal.webp" alt="Image of meals">
            <h1>Meals/Comidas</h1>
        </div></a>
        <a href="/snacks"><div class="homepage-category">
            <img src="static/churro.jpeg" alt="Image of drinks">
            <h1>Snacks/Entradas</h1>
        </div></a>
    </div>
</div>

{% endblock %}