<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">-->
    <title>Learning</title>
</head>
<body>
    <header>
        <a href="/"><h1 id="title">LASOLAS</h1></a>
        <h1>Chur Cuntz</h1>
        <nav_bar>
            <!-- <search></search> -->
            <!-- <menu></menu> -->
            <!-- <cart></cart> -->
            <!-- <img src="static/Untitled design.png" alt="Mexican flag" height="50px"> -->
        </nav_bar>
    </header>

    <!-- {% for row in results %} -->
        <!-- <img src="{{ row['img_url'] }}" alt="Image"> -->
    <!-- {% endfor %} -->

    {% block body %}
    {% endblock %}
</body>
</html>