{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block heroimage %}
    static/empanada.jpg
{% endblock %}

{% block heroalt %}
    Image of Empanada
{% endblock %}

{% block herotext %}
    Traditional Mexican Food
{% endblock %}

{% block body %}

<div id="categories">
    <h1 id="cattitle">Categories</h1>
    <div id="three-column">
        <a href="/drinks"><div class="homepage-category">
            <img src="../static/jarritos_drinks.webp" alt="Image of drinks">
            <button class="orderbtn">Drinks/Bebidas</button>
        </div></a>
        <a href="/meals"><div class="homepage-category">
            <img src="static/burritos.avif" alt="Image of meals">
            <button class="orderbtn">Meals/Comidas</button>
        </div></a>
        <a href="/snacks"><div class="homepage-category">
            <img src="static/churros.jpg" alt="Image of churros">
            <button class="orderbtn">Snacks/Entradas</button>
        </div></a>
    </div>
</div>

{% endblock %}