{% extends "layout.html" %}

{% block title %}
    Meals
{% endblock %}

{% block heroimage %}
    static/food.jpg
{% endblock %}

{% block heroalt %}
    Image of Mexican food
{% endblock %}

{% block herotext %}
    Meals/Comidas
{% endblock %}

{% block body %}

<h1 class="food_title">Meals</h1>
<div class="food_options">
    <div class="food-three-column">
        {% for row in results %}
                <div class="item">
                    <img src="{{ row['img_url'] }}" alt="Image of {{ row['item'] }}">
                    <div class="item-details">
                        <h1>{{ row['item'] }}</h1>
                        <p class="price_menu">${{ row['price'] }}</p>
                    </div>
                <form action="/add_to_cart/meal/{{ row['mealID'] }}" method="POST">
                    <input type="hidden" name="mealID" value="{{ row['mealID'] }}">
                    <input type="hidden" name="item" value="{{ row['item'] }}">
                    <input type="hidden" name="price" value="{{ row['price'] }}">
                    <button type="submit" class="orderbtn">Add To Cart</button>
                </form>
                </div>
        {% endfor %}
    </div>
</div>

{% endblock %}