{% extends "layout.html" %}

{% block title %}
    Snacks
{% endblock %}

{% block heroimage %}
    static/empanada.jpg
{% endblock %}

{% block heroalt %}
    Image of Empanada
{% endblock %}

{% block herotext %}
    Snucks
{% endblock %}

{% block body %}

<h1 class="food_title">Snacks</h1>
<div class="food_options">
    <div class="food-three-column">
        {% for row in results %}
            <div class="item">
                <img src="{{ row['img_url'] }}" alt="Image of {{ row['item'] }}">
                <div class="item-details">
                    <h1>{{ row['item'] }}</h1>
                    <p class="price_menu">${{ row['price'] }}</p>
                </div>
            <form action="/add_to_cart/snack/{{ row['snackID'] }}" method="POST">
                <input type="hidden" name="snackID" value="{{ row['snackID'] }}">
                <input type="hidden" name="item" value="{{ row['item'] }}">
                <input type="hidden" name="price" value="{{ row['price'] }}">
                <button type="submit" class="orderbtn">Add To Cart</button>
            </form>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}